

      
.modal{
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
 
    background-color: rgba(0,0,0,0.4); 
        }

.modalContent {
     background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.close {
     color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

header {
  background-color: rgb(4, 71, 134);
  height: 55px;
  width: 1500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
   justify-content: space-between; 
  
}

.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}


.navCont {
  display: inline;
  margin: 20px;
  font-size: large;

}

#myBtn {
height: 20px;
width: 70px;
align-self: center;
}
a {
    color: aliceblue;
  text-decoration: none;
}
.recipeLeft {
  background-color: rgb(4, 71, 134);
  padding: 20px;
  margin: 40px;
  width: 200px;
  height: 200px;
  max-width: 2000px;
  max-height: 250px;
  display: flex;
  justify-self: flex-start;
}

.recipeRight {
  background-color: rgb(4, 71, 134);
  padding: 20px;
  margin: 40px;
  width: 200px;
  height: 200px;
  max-width: 2000px;
  max-height: 250px;
  display: flex;
  justify-self: flex-end;
  align-self: flex-start;
  
}

.recipes {
  background-color: rgb(184, 179, 179);
 
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 800px;
  width: 1300px;

  justify-content: space-between;
  justify-content: space-around;
  align-self: center;
  justify-self: center;
  align-content: center;
  justify-content: center;
}

#portion {
 height: 500px;
  display: flex;
  justify-self: center;
  
}
#portionText {
    display: flex;
  justify-self: center
}